<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Soham<span> Parekh</span></h3>


    <p class="footer-company-name">Soham Shailesh Parekh &copy; 2019</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Ghatkopar</span> Mumbai, India</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 xxxxxxxxxx</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">soham.parekh1998@gmail.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About this project</span>
      This is a sample project made as an assignment for IIT Bombay.
    </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/soham.parekh.14"><i class="fa fa-facebook"></i></a>
      <a href="http://github.com/AlQaholic007"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
