{% extends "base.html" %}
{% block title %}Log-in {% endblock %}

{% block links %}
<style>
a.registerbtn {
    border: 1px solid #FF5722;
    color: white;
    background-color: #FF5722;
    margin-left: 5px;
    padding: 20px 10px;
}
</style>

{% endblock %}

{% block body %}
<h1>Log-in</h1>
{% if forms.errors %}
<p>Your username and password didn't match.
   Please try again.
</p>
{% else %}
<p>Please use the following form to log-in:</p>
{% endif %}
<form action="{% url 'login' %}" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <p><input type="submit" value="Log-in"> <a class="registerbtn" href="{% url 'register' %}">Sign up</p>
</form>
    <p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>
<!-- <div class='social'>
    <ul>
        <li class='twitter'><a href="{% url 'social:begin' 'twitter' %}">Sign in with Twitter</a></li>
    </ul>
</div> -->


{% endblock %}
